<div class="continer">
    <h2 class="text-center" style="color:white;">FACEBOOK</h2>
    <div class="loginbg">
        <div class="card mb-10 mx-auto mt-5" style="max-width: 80%;">
            <div class="row ">
              <div class="col-md-3"></div>
              <div class="col-md-6" style=" font-size: 1.3vw;">
                <div class="card-body ">
                  
                    <!--login form start -->
                    <div class="col-md-1"></div>
                        <div class="col-md-10 mx-auto">
                            <h2 class = 'text-center' style="font-size: 2vw;">SIGN UP</h2>
                            <form>
                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                  <input type="email" id="form1Example1" class="form-control" />
                                  <label class="form-label" for="form1Example1">Email address</label>
                                </div>
                              
                                <!-- Password input -->
                                <div class="form-outline mb-4">
                                  <input type="password" id="form1Example2" class="form-control" />
                                  <label class="form-label" for="form1Example2">Password</label>
                                </div>
                              
                                <!-- 2 column grid layout for inline styling -->
                                <div class="row mb-4">
                                  <!-- <div class="col d-flex justify-content-center">
                                    
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                                      <label class="form-check-label" for="form1Example3"> Remember me </label>
                                    </div>
                                  </div> -->
                              
                                  <div class="col">
                                    <!-- Simple link -->
                                    <p><small>Already Have an Account? <a href="#!">LOGIN</a></small></p>
                                    
                                  </div>
                                </div>
                              
                                <!-- Submit button -->
                                <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                              </form>
                        
                </div>
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>
    </div>
</div>
